/*Base Styles*/

:root{
    --primary-color:#038655;
    --secondary-color:#FAA916;
    --light-color:#F4F4F4;
    --dark-color:#333;
    --max-width:1100px;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:var(--light-color);
    font-family:'lato',sans-serif;
    line-height: 1.5;
}

p{
    margin-bottom: 0.75rem;
}
a{
    text-decoration: none;
    color:var(--dark-color);
}

ul{
    list-style: none;
}

img{
    width:100%;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'staatlitches',cursive;
    margin-bottom: 0.6rem;
    line-height:1.3;
/*    letter-spacing: .15rem;*/
/*    word-spacing: .30rem;*/
}

/*Scrollbars*/
::webkit-scrollbar{
    width:8px;
}
::webkit-scrollbar-track{
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius:10px;
}
::webkit-scrollbar-thumb{
    background:var(--primary-color);
    border-radius:10px;
}

/************************************************************************
                            UTILITY CLASSES
************************************************************************/

.container{
    max-width:var(--max-width);
    margin:0 auto;
    padding:0 2rem;
    overflow:hidden;
}

.bg-dark{
    background:var(--dark-color);
    color:#FFF;
}
.bg-primary{
    background:var(--primary-color);
    color:#FFF;
}
.bg-secondary{
    background:var(--secondary-color);
    color:#FFF;
}

.py-1{
    padding:1.5rem 0;
}
.py-2{
    padding:2rem 0;
}
.py-3{
    padding:3rem 0;
}

.p-1{
    padding:1.5rem;
}
.p-2{
    padding:2rem;
}
.p-3{
    padding:3rem;
}
.l-heading{
    font-size:1rem;
}
.m-heading{
    font-size:2.2rem;
}
.sm-heading{
    font-size:1.7rem;
}
.list li{
    padding:0.5rem;
    border-bottom: #444 dotted 1px;
}
.list li a:hover{
    color:var(--primary-color);
}

/************************************************************************
                            NAVBAR
************************************************************************/

#navbar{
    background:#FFF;
    position:sticky;
    top:0;
    left:0;
}

#navbar .container{
    display:grid;
    grid-template-columns: 3fr 1fr 1fr;
    padding-top:1rem;
    padding-bottom:1rem;
    align-items:center;
}

#navbar .logo{
    width:180px;
}

#navbar ul{
    display:flex;
    justify-content: flex-end;
}
#navbar ul li a{
    padding:.7rem;
    font-weight:bold;
}
#navbar ul li a.current{
    background:var(--primary-color);
    color:#FFF;
}
#navbar ul li a:hover{
    background:var(--light-color);
}
#navbar ul li a.current:hover{
    color:var(--dark-color);
}

#nacbar .social{
    justify-self:center;
}
#navbar .social a{
    padding:.7rem;
}

.social .facebook-icon{
    color:dodgerblue;
}